/*-------- start Global Rules---------*/
*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{

    --main-color:#2196F3;
--main-color-2:#333;
    --color-p:#777;
    --section-background-2: #f3f3f3;
    --section-background:#E6E6E7;

    --shadow: 5px 5px 15px #aaa;
    --shadow-2: 5px 5px 15px #33333373;
    --main-transition: 0.5s;
    --padding-top-bottem:60px 0;

}
.darck-mode{
    --main-color:#2196F3;
    --main-color-1: #f7fbfa;
    --main-color-2: #f3f3f3;
    --color-p:#777;
    --section-background-2:  #171a1c;
    --section-background: #333 ;
    --shadow: 5px 5px 15px #333;
    --shadow-2: 5px 5px 15px #33333373;
    --main-transition: 0.5s;
    --padding-top-bottem:60px 0;
}

/*-----------webkit scrol----------*/
body::-webkit-scrollbar{
    width: 12px;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: #171a1c;
}
body::-webkit-scrollbar-track{
    background-color: transparent;
}
.darck-mode::-webkit-scrollbar-thumb{
    background-color: #f3f3f3;
}

.darck-mode::-webkit-scrollbar{
    background: #171a1c;
}

.loading{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--section-background);
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .4s,visibility .4s;
}

.loading__hidden{
    opacity: 0;
    visibility: hidden;
}
.loading .load{
    height: 75px;
    width: 75px;
    border: 10px solid #77777763;
    border-top: 10px solid var(--main-color);
    border-radius: 50px;
    animation: rote .75s linear infinite;
}
@keyframes rote {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}
/*-------- end webkit scrol----------*/


/*-----------body and html ----------*/
body {
    font-family: "Cairo", sans-serif;
    user-select: none;
    
    background-color: var(--section-background);
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
ul{ display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
span{
    color: var(--main-color);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/*--------end body and html ----------*/
.btnUp{
    display: none;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    z-index: 101;
    transition: var(--main-transition);
    cursor: pointer;
}

.btnUp i{
    font-size: 20px;
    color: white;
    animation: up 2s linear infinite;
    position: absolute;
    top: 50%;
    transition: var(--main-transition);
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
}
@keyframes up{
    0%{
        top: 50%;
    }
    25%{
        top: 40%;
    }
    50%{
        top: 50%;
    }
    
    100%{
        top: 50%;
    }
}
/*-----------main div  ----------*/
.main-titel{
    color: var(--main-color-2);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 25px 0 ;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    grid-gap: 20px;
}
@media(max-width:639px){
    .grid{
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        grid-gap: 10px;
    }
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}

/* start header */
.header{
    background-color: var(--section-background);
    position: relative;
    transition: .4s;
}

.header .container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header img{
    height: 35px;
}
.header ul{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.header ul img{
    display: none;
    height: 35px;
}
.header .active> li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0px 30px;
    color: var(--main-color-2);
    font-weight: bold;
    letter-spacing: 1px;
    transition: var(--main-transition);
    text-transform: capitalize;
}
@media(max-width:767px){
    .header ul img{
        display: block;
        width: fit-content;
        margin: 15px;
    }
    .header .container  .active{
        background-color: var(--section-background-2);
        flex-direction: column;
        position: absolute;
        width: 100%;
        transition: 0.5s;
        visibility: hidden;
        z-index: 2;
        top: 0px;
        left: -200%;
    }
    .header .container ul.is-active {
        visibility: visible;
        left: 0;
        box-shadow: var(--shadow);
    }
}
.header ul > li a:hover{
    color: var(--main-color);
}
.header #icon{
    font-size: 20px;
    color: var(--main-color-2);
    cursor: pointer;
} 
@media(max-width:767px){
    .header .container  ul > li:not(:last-child){
        border-bottom: 1px solid #dcdcdc;
    }
}
.header .span{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    justify-content: center;
    margin-right: 20px;
}
.header .span span{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color-2);
    width: 30px;
    height: 4px;
    border-radius: 4px;
    margin: 2.5px 0;
    transition: var(--main-transition);
}
@media(max-width:767px){
    .header .span{
        display: flex;
        position: relative;
        z-index: 3;
    }
    .header .span span:first-child.is-active{
        display: none;
}
    .header .span span:nth-child(2).is-active{
        position: absolute;
        transform: rotate(45deg);

    }
    .header .span span:last-child.is-active{
        transform: rotate(-45deg);

    }
}

/* end header */


/* start contacte  */
.contacte {
    text-align: center;
    height: calc(100vh - 75px);
    background-color: var(--section-background);
}
@media(max-width:991px){
    .contacte {
        height: fit-content;
        padding-bottom: 40px;
    }
    
}
.contacte .container{
    display: flex;
    align-items: center;
    justify-content: center;

position: relative;
}

@media(max-width:991px){
    .contacte .container{
    display: block;
    }
    
}

.contacte .text{
    right: -20px;
    position: absolute;
    background-color: var(--section-background-2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: fit-content;
    
    box-shadow: var(--shadow-2);
    border-bottom: 4px solid var(--main-color);
}

@media(max-width:991px){
    .contacte .text{
    height: fit-content;
    right: 0;
    width: 100%;
    box-shadow: var(--shadow);
    border: 0;
    box-shadow: none;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    background-color: transparent;
    }
    
}
.contacte .text h1{
    color: var(--main-color-2);
    transform: translateX(-40%);
    z-index: 5;
}
@media(max-width:991px){
    .contacte .text h1{
    display: none;

    }
    
}
.contacte .text p{
    text-align: left;
    color: var(--color-p);
    margin: 5px 0px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.4;
    text-indent: 20px;
}
@media(max-width:991px){
    .contacte .text p{
    display: none;
    }
    .contacte .text svg{
        display: none;
        }
}
.contacte .text .social{
    position: absolute;
    bottom: -100px;
    left: 0;
}
@media(max-width:991px){
    .contacte .text .social{
    position: relative;
    bottom: 0;
    right: 0;
    }
    
}
.contacte .text .social a {
    background-color: transparent;
    width: fit-content;
    display: contents;
}
.contacte .text .social a > i{
    background-color: var(--section-background-2);
    padding: 5px;
    color: var(--main-color-2);
    margin: 2px;
    width: 30px;
    font-size: 18px;
    transition: var(--main-transition);
}
@media(max-width:991px){
    .contacte .text .social a > i{
        background-color: transparent;
    }
    
}
.contacte .text .social a > i:hover{
color: var(--main-color);
}
.contacte .box{
    box-shadow: var(--shadow);
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color-2);
    text-align: left;
    margin: 0;
}
@media(max-width:991px){
    .contacte .box{
        padding: 14px;
        z-index: 5;
        position: relative;
        
    background-color: transparent;
    box-shadow: none;
    }
    
}
.contacte .box h3{
    color: var(--section-background-2);
    letter-spacing: 1px;
    font-size: 18px;
}
@media(max-width:991px){
    .contacte .box h3{
        color:var(--main-color-2);
    }
    
}
.contacte .box .name{
    display: flex;
}
.contacte .box .name label {
    margin: 0 5px;
}
@media(max-width:583px){
    .contacte .box .name{
        flex-direction: column;
    }
    
}
.contacte .box input, textarea {
    margin: 10px;
    background: transparent;
    border: 1px solid var(--color-p);
    height: 46px;
    padding: 10px  30px 10px 10px ;
    border-radius: 2px;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--section-background);
    width: 100%;
}
@media(max-width:583px){
    .contacte .box input, textarea {
        color: var(--main-color-2);
    }
    
}
.contacte .box textarea{
    margin: 10px;
    background: transparent;
    border: 1px solid var(--color-p);
    height: 180px;
    resize: none;
    padding: 10px 15px;
    border-radius: 2px; 
    letter-spacing: 1px;
    color: var(--main-color-2);
}
.contacte .box input:focus,textarea:focus{
    outline: none;
}
.contacte .box input::placeholder,textarea::placeholder{
    transition: var(--main-transition) opacity;
}
.contacte .box input:focus::placeholder,textarea:focus::placeholder{
    opacity: 0;
}
.contacte .box button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--main-color);
    border: none;
padding: 5px 10px;
    border-radius: 2px;
    margin: 10px 5px;
}
.contacte .box button p{
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 2px;
    color: var(--section-background);
    margin: 0;
}
.contacte .box button i{
    margin: 5px 10px 5px 5px;
    color: var(--section-background);
}
.contacte .box label{

    position: relative;
}
.contacte .box span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    font-size: 14px;
    color: #df0024;
    
}
.contacte .box  .textarea span{
    right: 0px;
    bottom: 10px;
    top: auto;
}
.contacte .box span i{
    color: seagreen;
    font-size: 17px;
}
/* end contacte  */

.menu-phon{
    display: none;
}
@media(max-width:491px){
    .menu-phon {
        display: flex;
        position: fixed;
        bottom: 0px;
        background: var(--main-color-2);
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 7px 10px;
        height: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .menu-phon .nav_links {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .menu-phon .nav_links .nav_link a{
        color: var(--section-background-2);
        font-size: 22px;
    }
    .menu-phon .nav_links  .active a{
        color: var(--main-color);
    }
    .header .span{
        display: none;
    }
    .fa-star-half-stroke{
        position: absolute;
        top: 28px;
        right: 40px;
    }
}
